*{
  padding: 0;
  margin: 0;
}

p, ul, label {
  margin: 0;
}

a {
  text-decoration: none;
}

.rightAlign {
  text-align: right;
}

.leftAlign {
  text-align: left;
}

ul {
  list-style-type: none;
    padding: 0;
    font-size: 14px;
    color: #a28ba2;
    padding-top: 8px;
    padding: 0 20px;;
}